.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;

}


.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.navbar-left li {
  list-style: none;
  
}

.navbar-left a {
  text-decoration: none;
  color: black;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-right ul li {
  list-style: none;

}

.navbar-right ul a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}